<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="footer-menu">
          <ul>
            <li><a href="{{ site.baseurl }}/vision">Vision</a></li>
            <li><a target="_blank" href="https://github.com/aymannadeem/yourhaq">GitHub</a></li>
            <li><a target="_blank" href="https://www.facebook.com/groups/279190099165029/"><i class="icon ion-social-facebook"></i></a></li>
            <li><a target="_blank" href="https://twitter.com/knowyourhaq"><i class="icon ion-social-twitter"></i></a></li>
          </ul>
        </div>
        <p class="text-center">YourHaq does not guarantee legal services or representation. It does not create a attorney-client relationship. This website does not accept any responsibility for any assistance provided, as a result of using or contacting any of these organizations.</p>
      </div>
    </div>
  </div>
</footer>
