<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="footer-manu">
          <ul>
            <li><a href="{{ site.baseurl }}/vision">Vision</a></li>
            <li><a href="{{ site.baseurl }}/faq">FAQ</a></li>
          </ul>
        </div>
        <p class="text-center">YourHaq does not guarantee legal services or representation. It does not create a attorney-client relationship. This website does not accept any responsibility for any assistance provided, as a result of using or contacting any of these organizations.</p>
      </div>
    </div>
  </div>
</footer>
